<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    
    <link href="sideNav.css" rel="stylesheet">
    <link href="catagories.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="sideNavBar">
     <ul>
        <a class="navLogo" href="index.html"><li><img src="navLogoText.png" alt="logo"></li></a>
        <span class="sideNavButtons">
          <a href="dashboard.html"><li>Dashboard</li></a>
          <a href="catagories.html"><li>Catagories</li></a>
          <a href="stores.html"><li>Stores</li></a>
          <a href="products.html"><li>Products</li></a>
          <a href="complaintsAndSuggestions.html"><li>Complaints And Suggestions</li></a>
        </span>
      </ul>
    </div>
    <div class="inSidebarContainer">
      <div class="topnav">
        <a href="#home" class="material-symbols-outlined">logout</a>
        <a href="#news" class="material-symbols-outlined">notifications</a>
        <a href="#contact" class="material-symbols-outlined">account_circle           expand_more</a>
        <form>
          <button type="submit">Search</button>
          <input type="search" placeholder="Search...">
        </form>
      </div>
    </div>
    <div class="mainPage">
      <div class="addCatagories">
        <p>Add a new Catagories</p>
        <input type="text" placeholder="Catagory name">
        <br><button class="add-product-button">add</button>
      </div>
    <div class="lower-section">
      <p>View Catagories</p>
        <table class="viewCatagories">
          <tr>
            <th class="table-cell first-column heading">#</th>
            <th class="table-cell second-column heading" >Category name</th>
            <tr>
              <td class="table-cell">1</td>
              <td class="table-cell second-column link" onclick="window.location.href='https://www.example.com/makeup'">Makeup</td>
            </tr>
            <tr>
              <td class="table-cell">2</td>
              <td class="table-cell second-column link" onclick="window.location.href='https://www.example.com/perfume'">Perfume</td>
            </tr>
            <tr>
              <td class="table-cell">3</td>
              <td class="table-cell second-column link" onclick="window.location.href='https://www.example.com/pharmacies'">Pharmacies</td>
            </tr>
            <tr>
              <td class="table-cell">4</td>
              <td class="table-cell second-column link" onclick="window.location.href='https://www.example.com/supermarket'">Supermarket</td>
            </tr>
        </table>
      </div>
    </div>
  </body>
</html>