<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    
    <link href="sideNav.css" rel="stylesheet">
    <link href="products.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
  <div class="sideNavBar">
    <ul>
       <a class="navLogo" href="index.html"><li><img src="navLogoText.png" alt="logo"></li></a>
       <span class="sideNavButtons">
         <a href="dashboard.html"><li>Dashboard</li></a>
         <a href="catagories.html"><li>Catagories</li></a>
         <a href="stores.html"><li>Stores</li></a>
         <a href="products.html"><li>Products</li></a>
         <a href="complaintsAndSuggestions.html"><li>Complaints And Suggestions</li></a>
       </span>
     </ul>
   </div>
   <div class="inSidebarContainer">
     <div class="topnav">
       <a href="#home" class="material-symbols-outlined">logout</a>
       <a href="#news" class="material-symbols-outlined">notifications</a>
       <a href="#contact" class="material-symbols-outlined">account_circle           expand_more</a>
       <form>
         <button type="submit">Search</button>
         <input type="search" placeholder="Search...">
       </form>
     </div>
   </div>
    <div class="mainPage">
        <p>View all products<button>Add a product</button></p>
        
        <div class="grid-container">
            <div class="grid-item">
              <a href="#">
                <div class="image-container">
                  <img src="product1.jpg" alt="Product 1">
                </div>
                <div class="product-info">
                  <h3>Product 1</h3>
                  <p>Brand 1</p>
                  <p>$10.00</p>
                  <div class="buttons">
                    <a href="#" class="edit"><i class="material-symbols-outlined">edit_square</i></a>
                    <a href="#" class="remove"><i class="material-symbols-outlined">delete</i></a>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="#">
                <div class="image-container">
                  <img src="product2.jpg" alt="Product 2">
                </div>
                <div class="product-info">
                  <h3>Product 2</h3>
                  <p>Brand 2</p>
                  <p>$20.00</p>
                  <div class="buttons">
                    <a href="#" class="edit"><i class="material-symbols-outlined">edit_square</i></a>
                    <a href="#" class="remove"><i class="material-symbols-outlined">delete</i></a>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="#">
                <div class="image-container">
                  <img src="product3.jpg" alt="Product 3">
                </div>
                <div class="product-info">
                  <h3>Product 3</h3>
                  <p>Brand 3</p>
                  <p>$30.00</p>
                  <div class="buttons">
                    <a href="#" class="edit"><i class="material-symbols-outlined">edit_square</i></a>
                    <a href="#" class="remove"><i class="material-symbols-outlined">delete</i></a>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid-item">
              <a href="#">
                <div class="image-container">
                  <img src="product4.jpg" alt="Product 4">
                </div>
                <div class="product-info">
                  <h3>Product 4</h3>
                  <p>Brand 4</p>
                  <p>$40.00</p>
                  <div class="buttons">
                    <a href="#" class="edit"><i class="material-symbols-outlined">edit_square</i></a>
                    <a href="#" class="remove"><i class="material-symbols-outlined">delete</i></a>
                  </div>
                </div>
              </a>
            </div>
          </div>


    </div>
    </div>
  </body>
</html>