
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Areas/Security/Views/Shared/_Layout.cshtml";
}


<div class="right">


    <div class="form-heading">
        <h4>Set New Password</h4>
    </div>


    <form method="post" class="form-container" action="NewPassword">

        <label for="password"><b>New Password</b></label>
        <input type="password" placeholder="Enter New Password" id="password" name="password" required>

        <label for="password"><b>Confirm Password</b></label>
        <input type="password" placeholder="Re-enter Password" id="confpassword" name="confpassword" required>

        <br />
        <button type="submit" class="btn">Create New Password</button>

    </form>

    <p class="form-heading text-danger">@ViewBag.Message</p>
</div>